.add-article-form{
    min-height: 76vh;
}
.add-article{
    padding: 20px 30px;
}
.add-article > div,
.add-article-form > div{
    padding: 10px 0;
}
.title-input{
    width: 100%;
}
div.text-input{
    border: solid 1px rgb(33, 51, 88);
    border-radius: 2px;
    color: rgb(33, 51, 88);
    min-height: 430px;
}
.add-article button,
.add-article-form button{
    background: none;
    border: solid 1px rgba(63, 81, 181, 0.73);
    border-radius: 2px;
    color: #3F51B5;
    cursor: pointer;
    font-size: 16px;
}
.add-article button:hover,
.add-article-form button:hover{
    background: rgba(63, 81, 181, 0.07);
}
button.danger{
    border: solid 1px rgba(154, 5, 0, 0.73);
    color: #f44336;
}
button.danger:hover{
    background: rgba(243, 17, 10, 0.07);
}
.DraftEditor-root{
    font-family: sans-serif;
}
.tags-input{
    width:100%;
}
.add-result{
    max-height: 1px;
    position: relative;
}
.article-save-result{
    border-radius: 2px;
    color: #fdfdfd;
    left: 0;
    margin: 0 20%;
    text-align: center;
    padding: 15px 5px;
    position: absolute;
    top: -2em;
    width: 60%;
}
.result0{
    background: #53af80;
    border: solid 1px #4c8b6b;
}
.result1{
    background: #f76b6b;
    border: solid 1px red;
}
div.public-DraftEditor-content{
    min-height: 320px;
}