.app{
    background: #f3f3f3;
    min-height: 100vh;
}
.main{
    background: #fdfdfd;
    box-shadow: 0 0 10px #cbc9c9;
    margin: 0 auto;
    max-width: 840px;
    min-width: 420px;
    width: 70%;
}

.date{
    color: gray;
    font-size: 14px;
    padding-bottom: 5px;
}
.text{
    color: #07124e;
    font-size: 18px;
}
.tags{
    color: #3c4352;
    font-size: 14px;
    padding: 10px 0;
}
.form-buttons{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.home-btn{
    border: solid 1px rgb(33, 51, 88);
    border-radius: 3px;
    color: rgb(33, 51, 88);
    padding: 3px 5px;
    text-decoration: none;
}
.home-btn:hover{
    background: rgb(235, 252, 235);;
}