.contact{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 83.4vh;
    padding: 20px 30px;
}
.contact h2{
    font-family: Pacifico;
    font-size: 36px;
    text-align: center;
}
.contact ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact ul li{
    margin: 10px;
}
.contact ul li a{
    background: rgba(33, 51, 88, 0.059);
    border: solid 2px rgba(33, 51, 88, 0.54);
    border-radius: 50%;
    display: grid;
    height: 56px;
    place-items: center;
    width: 56px;
}

@media screen and (min-width: 439px) {
    .contact{
        min-height: 76vh;
    }
}