.footer{
    background-color: rgb(33, 51, 88);
    height: 7vh;
    padding: 1em;
    width: 100%;
}
.footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 840px;
    min-width: 420px;
    width: 70%;
}
footer li{
    padding: 0 1em;
}
.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    color: white;
    text-decoration: underline;
}