
.app-header {
	align-items: center;
	background-color: rgb(33, 51, 88);
	box-shadow: 0px 1px 5px #153b64;
	color: white;
	display: grid;
	grid-template-columns: auto auto;
	min-height: 8vh;
	position: relative;
}
.app-logo{
	display: grid;
	grid-template-columns: minmax(120px, 130px) 3fr;
	grid-template-rows: 8vh;
}
.app-logo a{
	text-decoration: none;
}
.app-title{
	display:none;
}

.app-logo a h1{
	color: white;
	font-family: Pacifico;
	font-size: 26px;
	min-width: 125px;
}
.app-logo-link{
	grid-row: span 2;
}
.logo{
	margin: 10px;
    width: 48px;
}
.app-nav-links{
	display: none;
}

.app-nav-links a{
	background: rgb(83, 175, 128);
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	color: white;
	display: grid;
	height: 24px;
    margin:7px 3px 0 0;
	padding: 0 10px;
    place-items: center;
}
.app-nav-links a h3{
	font-size: 14px;
    font-weight: normal;
	margin: 0;
    padding: 0;
}


@media screen and (min-width: 440px) {
    .app-title{
		display: block;
	}
	.app-nav-links{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.app-header {
		min-height: 17vh;
	}
	.app-logo{
		grid-template-rows: 13vh 4vh;
		min-width: 240px;
	}
	.logo{
		width: 100px;
	}
} 

@media screen and (min-width: 440px) and (max-width: 479px) {
    .app-logo a h1{
		font-size: 27px;
	}
} 
@media screen and (min-width: 480px) and (max-width: 559px) {
    .app-logo a h1{
		font-size: 32px;
	}
} 
@media screen and (min-width: 560px) {
    .app-logo a h1{
		font-size: 36px;
	}
} 