.previous-next-nav{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 5px 30px;
}
.nav-item{
    border: solid 1px gray;
}
.nav-item:empty{
    border: none;
}
.nav-item:hover{
    background: rgba(141, 206, 168, 0.31);
}
.nav-item:empty:hover{
    background: none;
}
.nav-item a{
    text-decoration: none;
}
.nav-item-header{
    background: rgb(33, 51, 88);
    color: white;
    padding: 3px 10px;
}
.nav-item-article{
    color: rgb(33, 51, 88);
    padding: 15px 10px;
    text-align: center;
}
.prev{
    text-align: left;
}
.next{
    text-align:right;
}