*{
	box-sizing: border-box;
}
body {
	color: rgb(33, 51, 88);
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

p{
    margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
monospace;
}

@font-face{
    font-family: Pacifico;
    src: url('assets/fonts/Pacifico-Regular.ttf');
}

